.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kpi {
  font-size: min(3vh, 30px);
}

.kpi-name {
  overflow-wrap: break-word;
  font-size: min(2vh, 14px);
  text-align: center;
}
 