.projects-header {
   display: flex;
   justify-content: center;
   background-color: var(--background_color);
   padding-top: 60vh;
   padding-bottom: calc(3 * 80px);

   transition: all 0.5s ease-in-out;
}

.projects-header h1 {
   all: unset;
   display: block;
   font-feature-settings: unset;
   font-size: 66px;
   font-weight: 800;
   max-width: 67.5rem;
   letter-spacing: -0.1rem;
   color: var(--text_color);
}

.projects-container {
   background-color: var(--background_color);
   transition: all 0.5s ease-in-out;
   padding-left: 64px;
   padding-right: 64px;
   padding-bottom: 120px;
}

.projects-container ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 32px;
}

.projects-container ul li {
   min-height: 400px;
   background-color: var(--background_color_secondary);
   color: var(--text_color);

   padding: 40px;
   
   border-radius: 16px;
   border: 1px solid var(--text_color_tertiary);

   transition: all 0.5s ease-in-out;
}

.enabled:hover {
   transform: scale(1.01);
   cursor: pointer;
}

.disabled {
   opacity: 0.5;
   cursor: not-allowed;
}

.projects-container ul li button {
   font-size: 1.5rem;
   margin-top: 12px;
   height: 30px;
   font-weight: 700;
   border: unset;
   background-color: unset;
   color: var(--text_color);
   cursor: pointer;
}

.project-preview {
   width: 256px;
}
