.app {
  background: var(--background_color);
  transition: background 0.6s;
}

.app-header {
  background: var(--background_color_tertiary);
  padding: 16px;
  transition: background 0.6s;
  height: fit-content;
}

.app-body {
  padding: 16px;
}