#header-container {
  /* set position */
  position: fixed;
  top: 0;
  z-index: 999;

  /* set size */
  width: calc(100% - 32px);
  height: 200px;

  /* set layout */
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* set styles */
  background-color: var(--background_color);

  /* set transitions */
  transition: all 0.5s ease-in-out;
}

#header-container ul {
  padding: 0;
  display: flex;
  position: absolute;
  left: 24px;
  list-style: none;
  color: var(--text_color);
  font-size: 1.2rem;
  font-weight: 500;
}

#header-container ul li {
  margin-right: 18px;
  cursor: pointer;
}

.main-item {
  font-weight: 900;
  margin-right: 24px !important;
  letter-spacing: -0.1rem;
}

.main-item span {
  color: var(--accent_color1);
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.title {
  font-size: min(6vw, 40px);
  color: var(--text_color)
}

.job-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: center;
  color: var(--text_color);
}

#profile-image-container {
  width: 120px;
  height: 120px;
  transition: 0.5s ease-in-out;
}

.first-name {
  font-weight: normal;
}

.surname {
  font-weight: bolder;
}

.menu-items {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.menu-items.active {
  opacity: 1;
}

.dark-toggle {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.dark-toggle.active {
  opacity: 1;
}

@media (max-width: 720px) {
  .profile-image-container {
    place-self: center;
  }

  .dark-toggle {
    visibility: hidden;
  }
}